@media only screen and (min-width : 0px) {
  #board div.board-container {
    width: 280px;
    height: 280px;
    outline: 3px solid;
    outline-color: gray;
    padding: 3px;
    box-shadow: 5px 8px 11px rgba(0,0,0,.5);
    text-align: center;
    background-color: ivory;
    background-size: 68px 68px;
    background-image: linear-gradient(to right, gainsboro 3px, transparent 1px),
                      linear-gradient(to bottom, gainsboro 3px, transparent 1px);
    background-position: 2px 2px;
  }
  .tile {
    width: 66px;
    height: 66px;
    font-size: 2em;
    line-height: 66px; /* required for vertical align to work */
    margin: 1px;
    position: relative;
    float: left;
  }
}

@media only screen and (min-width : 768px) {
  #board div.board-container {
    width: 410px;
    height: 410px;
    outline: 5px solid;
    outline-color: gray;
    padding: 5px;
    box-shadow: 8px 12px 16px rgba(0,0,0,.5);
    text-align: center;
    background-color: ivory;
    background-size: 100px 100px;
    background-image: linear-gradient(to right, gainsboro 5px, transparent 1px),
                      linear-gradient(to bottom, gainsboro 5px, transparent 1px);
    background-position: 3px 3px;
  }
  .tile {
    width: 96px;
    height: 96px;
    font-size: 3em;
    line-height: 96px; /* required for vertical align to work */
    margin: 2px;
    position: relative;
    float: left;
  }
}

body {
  margin-bottom: 100px;
}
.content {
  margin-top: 80px;
}

.header-text {
  font-family: sans-serif;
  font-size: 3em;
}
.body-text {
  font-family: sans-serif;
  font-size: 2em;
}
.modal-content {
  text-align: center;
}
#board {
  display: inline-block;
  margin-top: 10px;
}


#nextTileContainer {
  outline: 1px dotted;
  outline-color: gray;
  background-color: ivory;
}

.tile, #nextTile {
  text-align: center;
  vertical-align: middle;
}
#nextTile {
  width: 48px;
  height: 48px;
  font-size:2em;
  line-height:48px;
  margin: 1px;
  display: inline-block;
}

.game-over {
  font-family: sans-serif;
  font-size: 20pt;
}

.toprow {
  padding-top: 60px;
}

.animate {
	transition-property: all;
	transition-duration: 0.5s;
}

.moving {
  z-index: 100;
}

/**
 * THREES STYLES
 */
.threes {
  border-radius: 5px;
  background-color: #8D95A6;
  color: #000000;
}
.threes.max {
  color: #FFE380;
}
.threes-1 {
  background-color: #66CCFF;
  color: #FFFFFF;
}
.threes-2 {
  background-color: #FF6680;
  color: #FFFFFF;
}
.threes-3 {
  color: #000000 !important;
}

/**
 * FIVES STYLES
 */
.fives {
  border-radius: 50px;
  background-color: #ECF0F1;
}
.fives-2 {
  background-color: #34495E;
  color: #ECF0F1;
}
.fives-3 {
  background-color: #2ECC71;
  color: #2C3E50;
}
.fives-5 {
  color: #2C3E50;
  box-shadow: inset 0 0 0 4pt #1ABC9C;
}
.fives-10 {
  color: #2C3E50;
  box-shadow: inset 0 0 0 4pt #E74C3C;
}
.fives-20 {
  color: #2C3E50;
  box-shadow: inset 0 0 0 4pt #3498DB;
}
.fives-40 {
  color: #2C3E50;
  box-shadow: inset 0 0 0 4pt #F1C40F;
}
.fives-80 {
  color: #2C3E50;
  box-shadow: inset 0 0 0 4pt #9B59B6;
}
.fives-160 {
  color: #2C3E50;
  box-shadow: inset 0 0 0 4pt #2ECC71;
}
.fives-320 {
  color: #2C3E50;
  box-shadow: inset 0 0 0 4pt #C0392B;
}
.fives-640 {
  color: #2C3E50;
  box-shadow: inset 0 0 0 4pt #8E44AD;
}
.fives-1280 {
  color: #2C3E50;
  box-shadow: inset 0 0 0 4pt #F39C12;
}
.fives-2560 {
  color: #2C3E50;
  box-shadow: inset 0 0 0 4pt #2980B9;
}
.fives-5120 {
  color: #2C3E50;
  box-shadow: inset 0 0 0 4pt #27AE60;
}
.fives-10240 {
  color: #2C3E50;
  box-shadow: inset 0 0 0 4pt #D35400;
}
.fives-20480 {
  color: #2C3E50;
  box-shadow: inset 0 0 0 4pt #9B59B6;
}
.fives-40960 {
  color: #2C3E50;
  box-shadow: inset 0 0 0 4pt #F1C40F;
}

/**
 * EIGHTS STYLES
 */
.eights {
  border-radius: 10px;
}
.eights-3 {
  background-color: #2878CB;
  color: #85E5F9;
  box-shadow: inset 0 0 0 3pt #85E5F9;
}
.eights-5 {
  background-color: #26891E;
  color: #8AFD81;
  box-shadow: inset 0 0 0 3pt #8AFD81;
}
.eights-8 {
  background-color: #BAA43F;
  color: #FFFEA8;
  box-shadow: inset 0 0 0 3pt #FFFEA8;
}
.eights-16 {
  background-color: #B579C2;
  color: #FDEFFC;
  box-shadow: inset 0 0 0 3pt #FDEFFC;
}
.eights-32 {
  background-color: #AF2A2B;
  color: #FF9293;
  box-shadow: inset 0 0 0 3pt #FF9293;
}
.eights-64 {
  background-color: #506E91;
  color: #A8CEF7;
  box-shadow: inset 0 0 0 3pt #A8CEF7;
}
.eights-128 {
  background-color: #C09264;
  color: #FEFDF8;
  box-shadow: inset 0 0 0 3pt #FEFDF8;
}
.eights-256 {
  background-color: #78B2B8;
  color: #E7FDFC;
  box-shadow: inset 0 0 0 3pt #E7FDFC;
}
.eights-512 {
  background-color: #4B8BFF;
  color: #AECBFF;
  box-shadow: inset 0 0 0 3pt #AECBFF;
}
.eights-1024 {
  background-color: #E01E42;
  color: #FF9999;
  box-shadow: inset 0 0 0 3pt #FF9999;
}


/**
 * 2048 STYLES
 */
 .twentyFortyEight {
  border-radius: 2px;
}
.twentyFortyEight-2 {
  background-color: #EFE3DE;
  color: #7B716B;
}
.twentyFortyEight-4 {
  background-color: #EEE2CD;
  color: #7B6D63;
}
.twentyFortyEight-8 {
  background-color: #EFB27B;
  color: #FFF7F7;
}
.twentyFortyEight-16 {
  background-color: #F79663;
  color: #F7F7EF;
}
.twentyFortyEight-32 {
  background-color: #F77D63;
  color: #F7F3EF;
}
.twentyFortyEight-64 {
  background-color: #F76142;
  color: #F7F7F7;
}
.twentyFortyEight-128 {
  background-color: #E7CE73;
  color: #F7F3EF;
}
.twentyFortyEight-256 {
  background-color: #EECA63;
  color: #F7F7F7;
}
.twentyFortyEight-512 {
  background-color: #E9B746;
  color: #FFF7F7;
}
.twentyFortyEight-1024 {
  background-color: #E7B33A;
  color: #F7F7F7;
}
.twentyFortyEight-2048 {
  background-color: #FFB300;
  color: #F7F7F7;
}
.twentyFortyEight-4096 {
  background-color: #000000;
  color: #FFFFFF;
}
