<div class="modal-header header-text">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="$close()">&times;</span></button>
  Game Over!
</div>
<div id="score" class="your-score modal-body body-text">
  Your score: {{score()}}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-lg btn-default" ng-click="$close()">Close</button>
  <button type="button" class="play-again btn btn-lg btn-primary" ng-click="playAgain()">Play again?</button>
</div>
